
{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Cette page affichera la liste des entreprises proposant un stage </h1>
</div>
<div class="container-fluid">
	<div class="row">
  <table border="2px black" align="center">
  <tr>
  <th>Nom</th><th>Activite</th><th>Adresse</th>
  </tr>
  {% for entreprise in entreprises %}
  <tr>
    <td>{{entreprise.nom}}</td>
    <td>{{entreprise.activite}}</td>
    <td>{{entreprise.adresse}}</td>
  </tr>
  {% endfor %}
{% endblock %}
